<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mxh.pdc.mapper.PriorityMapper" >
  <resultMap id="BaseResultMap" type="com.mxh.pdc.domain.Priority" >
    <id column="priority_id" property="priorityId" jdbcType="INTEGER" />
    <result column="priority_name" property="priorityName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="var1" property="var1" jdbcType="VARCHAR" />
    <result column="var2" property="var2" jdbcType="VARCHAR" />
    <result column="var3" property="var3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    priority_id, priority_name, create_time, modify_time, var1, var2, var3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_priority
    where priority_id = #{priorityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_priority
    where priority_id = #{priorityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mxh.pdc.domain.Priority" >
    insert into tab_priority (priority_id, priority_name, create_time, 
      modify_time, var1, var2, 
      var3)
    values (#{priorityId,jdbcType=INTEGER}, #{priorityName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{var1,jdbcType=VARCHAR}, #{var2,jdbcType=VARCHAR}, 
      #{var3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mxh.pdc.domain.Priority" >
    insert into tab_priority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="priorityId != null" >
        priority_id,
      </if>
      <if test="priorityName != null" >
        priority_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="var1 != null" >
        var1,
      </if>
      <if test="var2 != null" >
        var2,
      </if>
      <if test="var3 != null" >
        var3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="priorityId != null" >
        #{priorityId,jdbcType=INTEGER},
      </if>
      <if test="priorityName != null" >
        #{priorityName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="var1 != null" >
        #{var1,jdbcType=VARCHAR},
      </if>
      <if test="var2 != null" >
        #{var2,jdbcType=VARCHAR},
      </if>
      <if test="var3 != null" >
        #{var3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mxh.pdc.domain.Priority" >
    update tab_priority
    <set >
      <if test="priorityName != null" >
        priority_name = #{priorityName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="var1 != null" >
        var1 = #{var1,jdbcType=VARCHAR},
      </if>
      <if test="var2 != null" >
        var2 = #{var2,jdbcType=VARCHAR},
      </if>
      <if test="var3 != null" >
        var3 = #{var3,jdbcType=VARCHAR},
      </if>
    </set>
    where priority_id = #{priorityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mxh.pdc.domain.Priority" >
    update tab_priority
    set priority_name = #{priorityName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      var1 = #{var1,jdbcType=VARCHAR},
      var2 = #{var2,jdbcType=VARCHAR},
      var3 = #{var3,jdbcType=VARCHAR}
    where priority_id = #{priorityId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
      select * from tab_priority
  </select>
</mapper>